<app-paginas></app-paginas>
<div class="container">
    <div class="row">
        <div class="col-6"></div>
        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                   Registrar  trabajador
                </div>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Nombre:</div>
                        </div>
                        <input type="text" class="form-control" id="id" placeholder="Nombre del trabajador">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Fecha de registro:</div>
                        </div>
                        <input type="text" class="form-control" id="fecha" placeholder="Fecha">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Tipo de sangre:</div>
                        </div>
                        <input type="text" class="form-control" id="t_sangre" placeholder="Sangre">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Estado civil:</div>
                        </div>
                        <input type="text" class="form-control"  placeholder="Estado civil">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Telefono:</div>
                        </div>
                        <input type="text" class="form-control"  placeholder="Celular">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Direccion:</div>
                        </div>
                        <input type="text" class="form-control"  placeholder="Direccion">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Email:</div>
                        </div>
                        <input type="text" class="form-control"  placeholder="Correo">
                    </div>
                </div>
                <div class="card-footer text-center">
                    <button type="button" class="btn btn-primary" id="entrar" >Agregar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>
