<app-paginas></app-paginas>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">

                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        Trabajadores
                    </div>
                    <div class="container">
                        <div class="dropdown text-center">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Trabajadores
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">juan</a>
                                <a class="dropdown-item" href="#">ana</a>
                                <a class="dropdown-item" href="#">el kevin</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <button type="button" class="btn btn-primary" id="entrar">Buscar</button>
                    </div>
                    <div class="card-footer text-center">
                        <button type="button" class="btn btn-danger" id="entrar">Despedir</button>
                    </div>
                </div>
            

        </div>
    </div>
    <div class="col"></div>
</div>
<br>
<br>
<br>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>juan</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>ana</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>kevin</td>
            <td>the Bird</td>
            <td>@twitter</td>
        </tr>
    </tbody>
</table>