<app-paginas></app-paginas>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
                <input type="radio" name="options" id="option1" autocomplete="off" checked> Paletas
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="options" id="option2" autocomplete="off"> Nieves
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="options" id="option3" autocomplete="off"> Agua
            </label>
        </div>
    </div>
    <br>
    <br>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Buscar producto" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-secondary" type="button">Buscar</button>
        </div>
      </div>
    <br>
    <br>
    <div class="row">
        <div class="col-6">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>nieve</td>
                        <td>$20</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>paletas</td>
                        <td>$10</td>
                        <td>2</td>
                    </tr>
                    
                </tbody>
            </table>
            <button class="btn btn-primary ">Agregar a venta</button>
        </div>

        <div class="col-6">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>agua</td>
                        <td>$15</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>nieve</td>
                        <td>$20</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>paletas</td>
                        <td>$10</td>
                        <td>2</td>
                    </tr>
                </tbody>
            </table>

            <button class="btn btn-primary">Cobrar</button>
        </div>
    </div>

</div>